---
import Card from "@/components/Card.astro";
import cloudIcon from "@/assets/cloud.svg";
import securityIcon from "@/assets/security.svg";
import velocityIcon from "@/assets/velocity.svg";
import formatIcon from "@/assets/format.svg";
const featuresCardContent = [
    {
        title: "Sincronización",
        description:
            "Funciona completamente en local, sin dependencia de servicios en la nube.",
        icon: cloudIcon,
    },
    {
        title: "Seguridad",
        description:
            "Archivos protegidos mediante cifrado de extremo a extremo; solo el usuario accede a la información.",
        icon: securityIcon,
    },
    {
        title: "Velocidad",
        description:
            "Conversión optimizada en segundos, incluso para archivos complejos.",
        icon: velocityIcon,
    },
    {
        title: "Formatos",
        description:
            "Soporta múltiples formatos sin almacenar archivos, priorizando privacidad y eficiencia.",
        icon: formatIcon,
    },
];
---

<section class="features" id="features">
    <div class="container features__list">
        {
            featuresCardContent.map((f) => (
                <Card
                    icon={f.icon}
                    title={f.title}
                    subscription={f.description}
                />
            ))
        }
    </div>
</section>

<style>
    .features {
        margin: 0;
        padding: 1rem;
    }
    .container {
        max-width: 1200px;
        /*margin-inline: auto;*/
        margin: 0 auto;
    }
    .features__list {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        justify-items: center;
    }

    @supports (animation-timeline: scroll()) {
        body {
            scroll-timeline-name: pageScroll;
            scroll-timeline-axis: block;
        }
    }

    @media (width <= 480px) {
        .features__list {
            grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        }
    }
</style>
