---
import convertImage from "../assets/convert.png";
import { Picture } from "astro:assets";
---

<section class="volaryss-conversion">
    <header class="volaryss-conversion__header">
        <h3 class="volaryss-conversion__title">Conversión de Archivos</h3>
        <p class="volaryss-conversion__description">
            Convierte PDF a Word, JPEG a PNG, MP4 a WebM y mucho más sin perder
            calidad. Soportamos 50+ formatos diferentes.
        </p>
    </header>

    <main class="volaryss-conversion__main">
        <div class="volaryss-conversion__image-wrapper">
            <Picture
                src={convertImage}
                alt="file conversion image"
                formats={["webp", "jpeg"]}
            />
        </div>
    </main>
</section>

<style>
    .volaryss-conversion {
        max-width: 1200px;
        margin: 0 auto;
        padding-inline: 1rem;
        width: 100%;
        padding: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .volaryss-conversion__header {
            text-align: center;
            color: var(--color-black);
        }

        .volaryss-conversion__title {
            font-size: 2.2rem;
            font-weight: 700;
        }

        .volaryss-conversion__description {
            max-width: 800px;
            text-wrap: pretty;
        }
        .volaryss-conversion__image-wrapper {
            border-radius: 1rem;
            & img {
                border-radius: 1rem;
            }
        }
    }
</style>
