---
import { Image } from "astro:assets";
import fileAndFolderIcon from "@/assets/files-and-folder.svg";
import dataStorageIcon from "@/assets/data-storage.svg";

import Features from "@/components/Features.astro";
import FileConversion from "@/components/File-Conversion.astro";
import Footer from "@/components/Footer.astro";
---

<section class="volaryss__hero">
    <div class="container volaryss__main">
        <span class="volaryss__subtitle">Tu bóveda digital segura</span>

        <h2 class="volaryss__title">
            Almacenamiento <span class="volaryss__title--highlight"
                >seguro y flexible</span
            >
        </h2>

        <p class="volaryss__description">
            Guarda tus archivos en local o en la nube, convierte formatos al
            instante y accede con total seguridad.
        </p>

        <div class="volaryss__actions">
            <a href="http://localhost:5173/" class="volaryss__button"
                >Comenzar Gratis</a
            >
        </div>

        <div class="volaryss__decoration">
            <Image
                src={fileAndFolderIcon}
                alt="Volaryss decoration icon"
                loading="eager"
                width={150}
                height={150}
            />
        </div>
        <div class="volaryss__decoration-1">
            <Image
                src={dataStorageIcon}
                alt="Volaryss decoration icon"
                loading="eager"
                width={150}
                height={150}
            />
        </div>
    </div>
</section>
<Features />
<FileConversion />
<Footer />

<style>
    .volaryss__hero {
        background: linear-gradient(#f1f7ff, #fff);
        min-height: calc(100dvh - 60px);
        display: flex;
        align-items: center;
        .container {
            max-width: 1200px;
            margin-inline: auto;
        }

        .volaryss__main {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        }

        .volaryss__subtitle {
            background-color: #d5f0fc;
            border-radius: 1rem;
            padding: 0.7rem 1.2rem;
            font-size: 14px;
            font-weight: 600;
            color: var(--color-black);
            margin-bottom: 2rem;
        }

        .volaryss__title {
            font-weight: 900;
            font-family: "Roboto Variable";
            font-size: clamp(2.5rem, 5vw, 4rem);
            line-height: 4.5rem;
            text-align: center;
            max-width: 800px;
            margin: 0;
            color: var(--color-black);

            .volaryss__title--highlight {
                color: #59c2f4;
            }
        }
        .volaryss__description {
            color: var(--text);
            max-width: 700px;
            text-align: center;
            text-wrap: pretty;
            font-size: 1.2rem;
        }

        .volaryss__actions {
            .volaryss__button {
                border: none;
                padding: 1.1rem 2.5rem;
                background: var(--primary);
                border-radius: var(--border-rd-bt);
                color: #fff;
                font-weight: 600;
                font-size: 16px;
                margin-top: 1rem;
                cursor: pointer;
                text-decoration: none;

                &:hover {
                    background: var(--hover-button);
                }
            }
        }
        .volaryss__decoration {
            position: absolute;
            right: -1rem;
            animation: slideDown 1.2s ease-out infinite alternate;
        }

        .volaryss__decoration-1 {
            position: absolute;
            bottom: 0;
            left: -1rem;
            animation: slideDown 1.2s ease-out infinite alternate;
        }
    }
    @keyframes slideDown {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-8px);
        }
    }

    @media (width <= 480px) {
        .volaryss__hero {
            padding: 0 1rem;
        }
        .volaryss__description {
            width: 100%;
            text-wrap: wrap;
        }
        .volaryss__decoration,
        .volaryss__decoration-1 {
            display: none;
        }
    }
</style>
